@import "tailwindcss";

:root {
  --background: #F8FDFD;
  --foreground: #464646;
  --primary: #3CC0C9;
  --secondary: #A8E3E7;
  --text: #A5A5A5;
  --grayLight: #BABEBE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-grayLight: var(--grayLight);
}

body {
  background: var(--background);
  color: var(--foreground);
}
