@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f8fdfd;
  --foreground: #464646;
  --primary: #3cc0c9;
  --secondary: #a8e3e7;
  --text: #a5a5a5;
  --grayLight: #babebe;
  --grayDark: #1e1e1e;
  --gray-200: #959595;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-grayLight: var(--grayLight);
  --color-grayDark: var(--grayDark);
  --color-gray-200: var(--gray-200);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
