@import "tailwindcss";

:root {
  --background: #F8FDFD;
  --foreground: #464646;
  --primary: #3CC0C9;
  --secondary: #A8E3E7;
  --text: #A5A5A5;
  --grayLight: #BABEBE;
  --grayDark: #1E1E1E;
  --gray-200: #959595;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-grayLight: var(--grayLight);
  --color-grayDark: var(--grayDark);
  --color-gray-200: var(--gray-200);
}

body {
  background: var(--background);
  color: var(--foreground);
}
